<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.meizu.flyme.launcher" platformBuildVersionCode="23" platformBuildVersionName="6.0-2704002">
    <permission android:name="com.meizu.flyme.launcher.permission.PRELOAD_WORKSPACE" android:permissionGroup="android.permission-group.SYSTEM_TOOLS" android:protectionLevel="signatureOrSystem"/>
    <permission android:description="@string/permdesc_install_shortcut" android:label="@string/permlab_install_shortcut" android:name="com.android.launcher.permission.INSTALL_SHORTCUT" android:permissionGroup="android.permission-group.SYSTEM_TOOLS" android:protectionLevel="dangerous"/>
    <permission android:description="@string/permdesc_uninstall_shortcut" android:label="@string/permlab_uninstall_shortcut" android:name="com.meizu.flyme.launcher.permission.UNINSTALL_SHORTCUT" android:permissionGroup="android.permission-group.SYSTEM_TOOLS" android:protectionLevel="dangerous"/>
    <permission android:description="@string/permdesc_read_settings" android:label="@string/permlab_read_settings" android:name="com.meizu.flyme.launcher.permission.READ_SETTINGS" android:permissionGroup="android.permission-group.SYSTEM_TOOLS" android:protectionLevel="normal"/>
    <permission android:description="@string/permdesc_write_settings" android:label="@string/permlab_write_settings" android:name="com.meizu.flyme.launcher.permission.WRITE_SETTINGS" android:permissionGroup="android.permission-group.SYSTEM_TOOLS" android:protectionLevel="normal"/>
    <permission android:name="com.meizu.flyme.launcher.permission.RECEIVE_LAUNCH_BROADCASTS" android:protectionLevel="signature"/>
    <permission android:name="com.meizu.flyme.launcher.push.permission.MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.BIND_APPWIDGET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.DELETE_PACKAGES"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.android.launcher3.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher3.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.meizu.flyme.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.meizu.flyme.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.meizu.flyme.launcher.permission.RECEIVE_LAUNCH_BROADCASTS"/>
    <uses-permission android:name="com.android.permission.WHITELIST_BLUETOOTH_DEVICE"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <uses-permission android:name="android.permission.STATUS_BAR"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="com.aliyun.permission.TYID_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="com.aliyun.ams.flyme.yunosaccount.permission.ACCOUNT_SERVICE"/>
    <uses-permission android:name="com.aliyun.ams.flyme.yunosaccount.permission.ACCOUNT_AUTHTOKEN"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.meizu.flyme.providers.forcetouch.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.CALL_PRIVILEGED"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.READ_FRAME_BUFFER"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.meizu.flyme.permission.UPDATE"/>
    <uses-permission android:name="com.meizu.flyme.launcher.push.permission.MESSAGE"/>
    <uses-permission android:name="com.meizu.flyme.push.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.REAL_GET_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"/>
    <uses-permission android:name="android.permission.STOP_APP_SWITCHES"/>
    <uses-permission android:name="android.permission.START_ANY_ACTIVITY"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="flyme.permission.APPCLONE"/>
    <uses-permission android:name="meizu.permission.BIND_PRIVACY_CONTROLER"/>
    <uses-permission android:name="meizu.permission.READ_PRIVACY"/>
    <uses-permission android:name="com.meizu.flyme.home.tools.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.meizu.flyme.home.tools.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.meizu.safe.alphame.provider.permission"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ROOT_RECOVERY_STATE"/>
    <application android:allowBackup="true" android:hardwareAccelerated="true" android:icon="@mipmap/ic_launcher_home" android:label="@string/application_name" android:largeHeap="@bool/config_largeHeap" android:name="com.meizu.flyme.launcher.LauncherApplication" android:supportsRtl="false">
        <activity android:clearTaskOnLaunch="true" android:configChanges="mcc|mnc|orientation|screenSize" android:excludeFromRecents="@bool/exclude_recents" android:launchMode="singleInstance" android:name="com.meizu.flyme.launcher.Launcher" android:screenOrientation="portrait" android:stateNotNeeded="true" android:theme="@style/Theme" android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.MONKEY"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:excludeFromRecents="@bool/exclude_recents" android:exported="false" android:label="@string/application_name" android:name="com.meizu.flyme.launcher.Settings" android:theme="@style/SettingTheme"/>
        <service android:exported="true" android:name="com.meizu.flyme.animatorservice.MzAnimatorService">
            <intent-filter>
                <action android:name="com.android.animatorservice.IMzAnimatorService"/>
            </intent-filter>
        </service>
        <activity android:enabled="@bool/debug_memory_enabled" android:excludeFromRecents="true" android:icon="@mipmap/ic_launcher_home" android:label="@string/debug_memory_activity" android:name="com.meizu.flyme.launcher.MemoryDumpActivity" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:enabled="@bool/debug_memory_enabled" android:name="com.meizu.flyme.launcher.MemoryTracker"/>
        <receiver android:name="com.meizu.flyme.launcher.PreloadReceiver" android:permission="com.meizu.flyme.launcher.permission.PRELOAD_WORKSPACE">
            <intent-filter>
                <action android:name="com.android.launcher3.action.PRELOAD_WORKSPACE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.meizu.flyme.launcher.InstallShortcutReceiver" android:permission="com.android.launcher.permission.INSTALL_SHORTCUT">
            <intent-filter>
                <action android:name="com.android.launcher.action.INSTALL_SHORTCUT"/>
                <action android:name="com.meizu.flyme.action.CLONE_APP"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.meizu.flyme.launcher.UninstallShortcutReceiver" android:permission="com.meizu.flyme.launcher.permission.UNINSTALL_SHORTCUT">
            <intent-filter>
                <action android:name="com.meizu.flyme.launcher.action.UNINSTALL_SHORTCUT"/>
                <action android:name="com.meizu.flyme.action.UNCLONE_APP"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.meizu.flyme.launcher.UserInitializeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_INITIALIZE"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.meizu.flyme.launcher.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="com.meizu.launcher.search.cling"/>
            </intent-filter>
            <intent-filter>
                <action android:name="notify.launcher.date.change"/>
                <action android:name="com.meizu.flyme.launcher_privacymode"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.meizu.flyme.launcher.settings" android:exported="true" android:name="com.meizu.flyme.launcher.LauncherProvider" android:readPermission="com.meizu.flyme.launcher.permission.READ_SETTINGS" android:writePermission="com.meizu.flyme.launcher.permission.WRITE_SETTINGS"/>
        <meta-data android:name="android.nfc.disable_beam_default" android:value="true"/>
        <service android:exported="false" android:name="com.meizu.update.service.MzUpdateComponentService" android:stopWithTask="false"/>
        <activity android:exported="false" android:name="com.meizu.update.display.KeyguardHelperActivity" android:theme="@style/MzucActivityNoDisplay"/>
        <service android:exported="true" android:name="com.meizu.cloud.pushsdk.NotificationService"/>
        <receiver android:exported="true" android:name="com.meizu.flyme.launcher.LauncherPushReceiver">
            <intent-filter>
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK"/>
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK"/>
                <action android:name="com.meizu.flyme.push.intent.MESSAGE"/>
                <category android:name="com.meizu.flyme.launcher"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
